body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(https://tailwindcss.com/_next/static/media/hero@75.b2469a49.jpg) no-repeat center center;
  background-size: cover;  
  color:var(--bs-white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.twitter-picker {
  margin-top: 0.5em;
}
.form-control{
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px, rgba(0, 0, 0, 0.15) 0px 8px 16px;
}
.col-md-6{
  display: inline-block;
}
@media screen and (max-width: 768px) {
  
}